h1 {
  color: red;
}
p {
  color: green;
}
p,li {
  color: green;
}
.special {
  color: orange;
  font-weight: bold;
}
li.special {
  color: orange;
  font-weight: bold;
}
h1 + p {
  font-size: 200%;
}
a:link {
  color: rgb(197, 0, 33);
}
a:visited {
  color: green;
}
a:hover {
  text-decoration: none;
}
body {
  background-color: rgb(211, 123, 9);
}
@media (max-width : 500px) {
  body {
    background-color: aqua;
  }
}