@font-face {
  font-family: "Poppins";
  src: url("/images/logo.png");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins";
}

body {
    margin: 0;
    padding: 0;
    background-color: gray;
}
header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 0 0 10px 10px;
  margin:  0 auto;
}
.logo {
  width: 120px;

}
.logo img {
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
}
.brand-name {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1;

  font-weight: 700;
  margin-left: -670px;
}
nav .logo {
    display: none;
}

nav ul {
  display: flex;
}
nav ul li a {
  color: black;
  display: block;
  margin: 0 2px;
  font-weight: 600;
  padding: 0px 20px;
  transition: 0.2s;
  letter-spacing: 1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
}
nav ul li a:hover {
  /* background-color: rgb(221, 0, 111); */
  color:  rgb(221, 0, 111);
}
.hamburger {
  display: none;
  height:fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.2s;

}
.hamburger:hover {
  background-color: rgb(255, 138, 198);
  color: #fff;
}
.hamburger div {
  width: 30px;
  height: 3px;
  margin: 6px 0;
  background: rgb(221, 0, 111);
}
@media only screen and (max-width:600px) {
  header {
    width: 100%;
    padding: 0 20px;


  }
  nav {
    position: absolute;
    left: -350px;
    top: 0;
    z-index: 999;
    width: 280px;
    height: 100vh;
    background-color: rgba(22, 19, 19, 0.219);
    transition: 0.2s;
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.05);
  }
  #nav_check:checked ~ nav {
    left: 0;
  }
  nav .logo {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    margin-top: 19px;
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  nav ul {
    display: block;
    padding: 0 20px;
    margin-top: 30px;
  }
  nav ul li a {
    margin: 5px;
    padding: 10px 15px;
    border-radius: 5px;

  }
  nav ul li a:hover {
    color: white;
    background-color: rgb(221, 0, 111);
  }

  .hamburger {
    display: block;
  }
}



.header {
    background-color: rgb(255, 255, 255);
    width:  100%;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    height: 80px;
}
/* .header_content {
    display: flex;
    padding: 10px 40px;
    width: 100%;
}
.header-main {
    width: 70%;
    display: flex;
} */
/* .header_logo_container {
    display: flex;
    align-items: center;
    color: #333;
    transition:  color .3s;
    width: 100%;
}
.header-logo-img {
    display: flex;
    align-items: center;
    border-radius: 50px;
    overflow: hidden;
}
.header-logo-img img {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    /* padding-right: 1.5rem;

}  */
.header-logo-sub {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 750;
    letter-spacing: .5px;
    margin-left: 15px;
    font-family:'Source Sans Pro',sans-serif;
}

.header-links {
    display: flex;
    align-items: center;
    padding: 0px 35px;

}
.header-links a {
    padding: 1.8rem;
    display: inline-block;
    font-size: .92rem;
    color: #333;
    opacity: 0.95;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 710;
    transition: color .3s;
    text-decoration: none;
    padding: 0px 35px;
    font-family: 'Source Sans Pro',sans-serif;
   line-height: 1.5;
}
.header-links a:hover {
    color: rgb(221, 0, 111);
}
li {
    list-style: none;
}

/* header new  */

.intro-section {
    background: linear-gradient(to right,rgba(243, 243, 243, 0.74),rgba(233, 238, 236, 0.829)),url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
    color: #fff;
    background-position: center;
    height: 0;
    padding: 0; /* reset */
    height: 100vh;
    max-height: 150vh;
    position: relative;
}
.intro-content {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 70%;
    display: inline-block;
}
.heading-primary {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
.heading-primary span {
    color: rgb(221, 0, 111);
    border-bottom: 1px solid rgb(221, 0, 111);

}
.intro-section{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #111;
    font-weight: 500;
    font-family:cursive;
}
.intro-info {
    margin: 3rem auto 0 auto;
    max-width: 80rem;
    width: 80%;
}
.text-primary {
    color: #333;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    line-height: 1.8;

}
.button {
    display: inline-flex;
    height: 45px;
    width: 160px;
    background-color: rgb(221, 74, 148);;
    border-radius: 10px/10px;
    outline: none;
    margin: 20px 20px 20px 20px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
.button a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    font-family:'Courier New', Courier, monospace;
  }
  @media only screen and (max-width:600px) {
    .text-primary {
      margin-top: -20px;

    }  
    .heading-primary {
      margin-top: -120px;
    }
    .mouse {
      margin-top: -100px;
    }
  }


#button-2 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  #button-2 a {
    position: relative;
    transition: all .35s ease-Out;
  }
  
  #slide {
    width: 100%;
    height: 100%;
    left: -200px;
    background: rgb(221, 0, 111);
    position: absolute;
    transition: all .35s ease-Out;
    bottom: 0;
  }
  
  #button-2:hover #slide {
    left: 0;
  }
  
  #button-2:hover a {
    color: #ffffff;
  }
  
  /* mouse animation */

  *, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   }
  

  
  .mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    margin-top: 140px;
  }
  
  
  .m_scroll_arrows
  {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
     
    border-right: 2px solid rgb(221, 0, 111);
    border-bottom: 2px solid rgb(221, 0, 111);
    margin: 0 0 3px 4px;
    
    width: 16px;
    height: 16px;
  }
  .mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid rgb(221, 0, 111);
    top: 170px;
  }
  
  .wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: rgb(221, 0, 111);
    position: relative;
    
    height: 5px;
    width: 5px;
    border: 2px solid rgb(221, 0, 111);
    -webkit-border-radius: 8px;
            border-radius: 8px;
  }
  
  .wheel {
    -webkit-animation: mouse-wheel 0.2s linear infinite;
    -moz-animation: mouse-wheel 0.2s linear infinite;
    animation: mouse-wheel 0.2s linear infinite;
  }

  @-webkit-keyframes mouse-wheel{
     0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @-moz-keyframes mouse-wheel {
    0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @-o-keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  
  @-webkit-keyframes mouse-scroll {
  
    0%   { opacity: 0;}
    50%  { opacity: .5;}
    100% { opacity: 1;}
  }
  @-moz-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @-o-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }

  /* About me  */

  .about-me {
    background: linear-gradient(to right,rgba(170, 168, 168, 0.74),rgba(215, 231, 225, 0.829)),url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
    color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
    max-width: 120%;
  }
.text-about {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding-top: 150px;
    justify-content: center;

  }
  .intro-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-style: normal;
    color: #424040;
    opacity: 0.8;
    line-height: 1.5;
    max-width: 80rem;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5rem 15rem
  }