
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  
}

html, body {
   width: 100%;
   height: 100%;
    margin: 0;
    padding: 0;
}
header {
  
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow:0 10px 100px rgba(0,0,0,.1);
  margin:  0 auto;
  margin-top: -80px;
}
.logo {
  width: 120px;

}
.logo img {
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
}
.brand-name {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1;

  font-weight: 700;
  margin-left: -670px;
}
nav .logo {
    display: none;
}

nav ul {
  display: flex;
}
nav ul li a {
  color: black;
  display: block;
  margin: 0 2px;
  font-weight: 600;
  padding: 0px 20px;
  transition: 0.2s;
  letter-spacing: 1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
}
nav ul li a:hover {
  /* background-color: rgb(221, 0, 111); */
  color:  rgb(221, 0, 111);
}
.hamburger {
  display: none;
  height:fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.2s;

}
.hamburger:hover {
  background-color: rgb(255, 138, 198);
  color: #fff;
}
.hamburger div {
  width: 30px;
  height: 3px;
  margin: 6px 0;
  background: rgb(221, 0, 111);
}
@media only screen and (max-width:600px) {
  header {
    width: 100%;
    padding: 0 20px;
    box-shadow: 0 10px 100px rgba(236, 236, 236, 0.1);
  }
  nav {
    position: absolute;
    left: -450px;
    top: 85px;
    z-index: 10;
    width: 100%;
    height: 26vh;
    background-color: rgba(255, 255, 255, 0.774);
    transition: 0.2s;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
  }
  #nav_check:checked ~ nav {
    left: 0;
  }
  /* nav .logo {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    margin-left: 20px;
  } */
  /* nav .brand-name {
    display: block;
    width: 3rem;
    height: 3rem;
    margin-top: 19px;
    align-items: right;
  } */
  nav ul {
    display: block;
    padding: 0 20px;
    margin-top: 30px;
  }
  nav ul li a {
    margin: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    color: #000000;
    text-align: center;

  }
  nav ul li a:hover {
    color: white;
    background-color: rgb(221, 0, 111);
  }

  .hamburger {
    display: block;
  }
}



.header {
    background-color: rgb(255, 255, 255);
    width:  100%;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    height: 80px;
}
/* .header_content {
    display: flex;
    padding: 10px 40px;
    width: 100%;
}
.header-main {
    width: 70%;
    display: flex;
} */
/* .header_logo_container {
    display: flex;
    align-items: center;
    color: #333;
    transition:  color .3s;
    width: 100%;
}
.header-logo-img {
    display: flex;
    align-items: center;
    border-radius: 50px;
    overflow: hidden;
}
.header-logo-img img {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    /* padding-right: 1.5rem;

}  */
.header-logo-sub {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 750;
    letter-spacing: .5px;
    margin-left: 15px;
    font-family:'Source Sans Pro',sans-serif;
}

.header-links {
    display: flex;
    align-items: center;
    padding: 0px 35px;

}
.header-links a {
    padding: 1.8rem;
    display: inline-block;
    font-size: .92rem;
    color: #333;
    opacity: 0.95;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 710;
    transition: color .3s;
    text-decoration: none;
    padding: 0px 35px;
    font-family: 'Source Sans Pro',sans-serif;
   line-height: 1.5;
}
.header-links a:hover {
    color: rgb(221, 0, 111);
}
li {
    list-style: none;
}

/* header new  */

.intro-section {
    background: linear-gradient(to right,rgba(243, 243, 243, 0.74),rgba(233, 238, 236, 0.829)),url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
    color: #fff;
    background-position: center;
    height: 0;
    margin-top: 80px;
    padding: 0;
    height: 100vh;
    max-height: 150vh;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #111;
    font-weight: 500;
    font-family:"roboto", sans-serif;
}
.intro-content {
    /* position: absolute; */
    /* top: 87%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    max-width: 90rem;
    width: 70%;
    display: inline-block;
}
.heading-primary {
  margin-top: 250px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
.heading-primary span {
    color: rgb(221, 0, 111);
    border-bottom: 1px solid rgb(221, 0, 111);

}
.intro-info {
    margin: 3rem auto 0 auto;
    max-width: 80rem;
    width: 100%;
}
.text-primary {
    color: #333;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    text-transform: initial;
    line-height: 1.8;
    padding: 1rem 0rem;

}
.button {
    display: inline-flex;
    height: 50px;
    width: 250px;
    background-color:#007bff;
    border-radius: 10px/10px;
    outline: none;
    /* margin: 20px 20px 20px 20px; */
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
.button a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    font-family:'Courier New', Courier, monospace;
  }
  .button a:hover {
    color: #f7f7f7;
  }
  @media only screen and (max-width:600px) {
    .text-primary {
      margin-top: 20px;

    }  
    .heading-primary {
      margin-top: 130px;
    }
    .mouse {
      margin-top: -100px;
    }
    .brand-name {
      margin-left: -102px;
    }
    .button {
      width: 18rem;
      margin-left: -10px;
    }
  }

/* #button-2 {
  position: relative;
    cursor: pointer;
    overflow:hidden;
  }
  
  #button-2 a {
    transition: all .35s ease-Out;
  }
  
  #slide {
    width: 100%;
    height: 100%;
    left: -250px;
    background: rgb(221, 0, 111);
    position: absolute;
    transition: all .2s ease-Out;
    bottom: 0;
  }
  
  #button-2:hover #slide {
    left: 0;
  }
  
  #button-2:hover a {
    color: #ffffff;
  } */
  
  /* mouse animation */

  *, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   }
  

  
  .mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    margin-top: 140px;
  }
  
  
  .m_scroll_arrows
  {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
     
    border-right: 2px solid rgb(221, 0, 111);
    border-bottom: 2px solid rgb(221, 0, 111);
    margin: 0 0 3px 4px;
    
    width: 16px;
    height: 16px;
  }
  .mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid rgb(221, 0, 111);
    top: 170px;
  }
  
  .wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: rgb(221, 0, 111);
    position: relative;
    
    height: 5px;
    width: 5px;
    border: 2px solid rgb(221, 0, 111);
    -webkit-border-radius: 8px;
            border-radius: 8px;
  }
  
  .wheel {
    -webkit-animation: mouse-wheel 0.2s linear infinite;
    -moz-animation: mouse-wheel 0.2s linear infinite;
    animation: mouse-wheel 0.2s linear infinite;
  }

  @-webkit-keyframes mouse-wheel{
     0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @-moz-keyframes mouse-wheel {
    0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @-o-keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  
  @-webkit-keyframes mouse-scroll {
  
    0%   { opacity: 0;}
    50%  { opacity: .5;}
    100% { opacity: 1;}
  }
  @-moz-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @-o-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }

  /* About me  */
  .about-me {
    margin-top: 200px;
  }
  .text-about {
    display: flex;
    align-items: center;
    justify-content :center;
    margin-top: 100px;
    background-color: #fff ; 
  }
 /* .text-about::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 8rem;
  background: #ec3fb8;
  left: 50%;
  top : 910px;
  transform: translateX(-50%);
  border-radius: 5px;
 } */
 .intro-text {
    font-size: 1rem;
    color: #424040;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
    font-size: 1.2rem;
    margin: auto;
    font-family:"roboto" sans-serif;
    padding: 20px;
    width: 100%;
    margin-top: 10px;
  }

  .know-me {
      font-weight: 700;
      padding-left: 50px;
      font-size: 2rem;
      margin-bottom: 3rem;
  }
  .skills-title {
    font-weight: 700;
    padding-left: 50px;
    font-size: 2rem;
    margin-bottom: 3rem;
}

  .left-text p {
    font-size: 1.1rem;
    padding-left: 20px;
    justify-content: center;
    color: #666;
    max-width: 40rem;
    line-height: 1.7;
    margin-bottom: 1rem;
  } 
.know-me {
    font-weight: 700;
    padding-left: 20px;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.left-text p {
  font-size: 1.1rem;
  color: #666;
  max-width: 40rem;
  line-height: 1.7;
  margin-bottom: 1rem;
} 
/* Default styles for larger screens */
.left-text {
  width: 50%; /* Set the width for the left text container */
  /* padding: 0px; */
}

.btn {
  display: inline-block;
  width: 200px; /* Set the width for the Contact button */
  height: 40px; /* Set the height for the Contact button */
  text-align: center;
  margin-left: 20px;
  line-height: 40px; /* Vertically center the button text */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  text-decoration: none; /* Remove underline */
  border-radius: 5px; /* Add some rounded corners */
  transition: background-color 0.3s; /* Smooth background color transition */

}

/* Hover effect for the button */
.btn:hover {
  background-color: #0056b3; /* Button background color on hover */
}

/* Media query for mobile devices (up to 768px width) */
@media (max-width: 768px) {
  .left-text {
    width: 100%; /* Reset width for full width on mobile */
    padding: 0px;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86.5%;

  }
  .text-about::after {
    width: 8rem; /* Adjust the width for smaller screens */
    margin-top: 60px; /* Adjust the top position for smaller screens */
  }
}

  .skills-title {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-left: 50px;
  }
.container-about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.left-text {
  flex: 1;
  padding: 20px;
  margin: 15px;
}

.right-text {
  flex: 1;
  padding: 20px;
  margin:15px;
}
.skills-title {
  margin-left: -35px;
}
.skills {
    display: grid;
    margin-top: 50px;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
}
.skills_skill {
  margin-left: 10px;
  margin-bottom: 1.5rem;
  text-align: center;
  width: auto;
  padding: 15px 15px;
  margin-right: 1.5rem;
  font-size: 1rem;
  background: rgba(153,153,153,.2);
  border-radius: 5px;
  font-weight: 500;
  color: #666;
}

/* Media query for mobile devices (up to 768px width) */
@media (max-width: 768px) {
  .container-about {
    flex-direction: column;
    align-items: center;
  }

  .left-text, .right-text {
    width: 100%;
    padding: 20px;
    text-align: center;
    margin: 10px 10px 10px 10px;
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
  }
  .skills_skill {
    margin-left: 10px;
    margin-bottom: 1.5rem;
    padding: 15px 30px;
    margin-right: 10px;
    font-size: 1rem;
    background: rgba(153,153,153,.2);
    border-radius: 5px;
    font-weight: 500;
    color: #666;
  }
}



/* Projects section */

.project-section {
   height: 100vh;
   width: 100%;
   background-color: #f7f7f7;
}

.project-title {
  text-align: center;
  padding:7rem;
}
